.Converter {
    position: absolute;
}

.ConverterCloseButton {
    position: absolute;
    right: -25px;
    top: -10px;
}

.ui.menu.discreteMenu {
    border: 0px;
    box-shadow: none;
}